{% autoescape off %}
    Здравствуйте, {{ user.first_name }}
    Вы получили это письмо потому что кто-то запросил смену пароля на вашем аккаунте

    Для продолжения процесса смены пароля нажмите на ссылку ниже:
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Время действия ссылки: 15 минут.

    Если вы получили это письмо по ошибке или не запрашивали изменение пароля - проигнорируйте его.

    С уважением,
    команда tours-manager.
{% endautoescape %}
