{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            <div class="account_form">
                <p class="title"><i class="fa-solid fa-edit"></i> Смена пароля</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="input_group email">
                        <label for="email">Email</label>
                        {{ form.email }}
                        {{ errors|get_errors_html:form.email.name }}
                        {{ errors|get_errors_html:'__all__' }}
                    </div>
                    <button type="submit">Сменить пароль</button>
                </form>
            </div>
        </div>
    </section>
    {{ my_variable }}
{% endblock %}