{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="content">
            <div class="form_container">
                <p class="title"><i class="fa-solid fa-spinner"></i> Жди письмо!</p>
                <p style="font-size: 18px; color: white;">Мы отправили на твою почту письмо с инструкцией по смене пароля!</p>
            </div>
        </div>
    </section>
{% endblock %}