{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="content">
            <div class="account_form">
                {% if form.new_password1 %}
                    <p class="title"><i class="fa-solid fa-edit"></i> Смена пароля</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input_group password">
                            <label for="new_password1">Пароль</label>
                            {{ form.new_password1 }}
                            {{ errors|get_errors_html:form.new_password1.name }}
                        </div>
                        <div class="input_group password">
                            <label for="new_password2">Пароль еще раз</label>
                            {{ form.new_password2 }}
                            {{ errors|get_errors_html:form.new_password2.name }}
                            {{ errors|get_errors_html:'__all__' }}
                        </div>
                        <button type="submit">Сменить пароль</button>
                    </form>
                {% else %}
                    <p class="title"><i class="fa-solid fa-face-frown"></i> Упс...</p>
                    <style>
                        p {
                            font-size: 18px;
                            color: white;
                        }
                    </style>
                    <p>Что-то пошло не так...</p>
                    <p>Возможно, ссылка неверна или её срок действия истек.</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}