{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="content">
            <div class="form_container">
                <p class="title"><i class="fa-solid fa-check-circle"></i> Успех!</p>
                <p style="font-size: 18px; color: white;">Пароль был изменен! Теперь можно войти.</p>
                <br>
                <form action="{% url 'manager-login' %}">
                    <button type="submit">Войти</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}