{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="content">
            <div class="account_form">
                <p class="title"><i class="fa-solid fa-face-frown"></i> Упс...</p>
                <style>
                    p {
                        font-size: 18px;
                        color: white;
                    }
                </style>
                <p>Что-то пошло не так...</p>
                <p>Возможно, ссылка неверна или её срок действия истек.</p>
            </div>
        </div>
    </section>
{% endblock %}