{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load errors_writer %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="content">
            <div class="account_form">
                <p class="title"><i class="fa-solid fa-edit"></i> Смена пароля</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="input_group password">
                        <label for="new_password">Пароль</label>
                        {{ form.new_password }}
                        {{ errors|get_errors_html:form.new_password.name }}
                    </div>
                    <div class="input_group password">
                        <label for="new_password_confirm">Пароль еще раз</label>
                        {{ form.new_password_confirm }}
                        {{ errors|get_errors_html:form.new_password_confirm.name }}
                        {{ errors|get_errors_html:'__all__' }}
                    </div>
                    <button type="submit">Сменить пароль</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}