{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            <div class="search">
                <div class="background"></div>
                <form action="/agencies">
                    <div class="selectors">
                        <div class="left">
                            <label for="city">Город</label>
                            {{ form.city }}
                        </div>
                    </div>
                    <button type="submit">Найти туры</button>
                </form>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            {% for agency_data in agencies_data %}
                <div class="card">
                    <div class="left">
                        <img src="{% static 'img/search-banner.png' %}" alt="img"/>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="title">{{ agency_data.name }}</div>
                            <div class="countries">
                                {% for address in agency_data.addresses.all %}
                                    {{ address }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="rating">
                            {% with agency_rating=reviews_data|get_item:agency_data %}
                                {% for num in '01234'|make_list %}
                                    <span class="fa fa-star{% if num|to_int < agency_rating|to_int %} checked{% endif %}"></span>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}