{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            {% if user.account.is_authenticated %}
                {{ user.first_name }}
                {{ user.last_name }}
                {{ user.username }}
                {% if user.agency %}
                    {{ user.agency.name }}
                {% endif %}
            {% endif %}
        </div>
    </section>
    <main>

    </main>
{% endblock %}