{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% load avatar %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            {% if user.account.is_active %}
                <div class="left">
                    <div class="profile">
                        <div class="userinfo">
                            <div class="avatar">
                                <img src="{{ user|get_avatar }}" alt="avatar">
                            </div>
                            <section>
                                <h2>
                                    {% if user.agency %}
                                        {{ user.agency.name }}
                                    {% else %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% endif %}
                                </h2>
                                <h5>@{{ user.username }}</h5>
                            </section>
                        </div>
                    </div>
                    {% if user.agency %}
                        <div class="agency_info">
                            <h3>
                                <i class="fa-solid fa-check-circle" aria-hidden="true"></i> Турагенство 
                                <div class="rating">
                                    {% with agency_rating=reviews_data|get_avg %}
                                        {% for num in '01234'|make_list %}
                                            <span class="fa fa-star{% if num|to_int < agency_rating|to_int %} checked{% endif %}"></span>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </h3>
                            <div class="contacts">
                                <p><i class="fa-solid fa-user" aria-hidden="true"></i> Владелец: {{ user.first_name }} {{ user.last_name }}</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                <p><i class="fa-solid fa-phone" aria-hidden="true"></i> Телефон: <a href="tel:{{ user.agency.phone_number }}">{{ user.agency.phone_number }}</a></p>
                            </div>
                        </div>
                    {% elif not user.account.is_staff %}
                        <div class="agency_info">
                            {% if user.request is not None %}
                                <a href="{% url 'create_agency' %}">Стать турагенством</a>
                            {% else %}
                                Ожидайте одобрения заявки
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
    <main>
        <div class="container">
            {% if user.agency %}
                {% if request_user == user.account %}
                    <a href="{% url 'create_tour' %}" class="tour">
                        <div class="card create_tour">+</div>
                    </a>
                {% endif %}
                {{ tours_block }}
            {% else %}
                {% if user.account.is_staff and request_user == user.account %}
                    <div class="info_header">
                        <nav>
                            <ul class="info_menu">
                                <li class="see_reviews"><a href="#reviews"><span>Отзывы</span></a></li>
                                <li class="see_requests"><a href="#requests"><span>Заявки</span></a></li>                            </ul>
                        </nav>
                    </div>
                {% endif %}
                {{ reviews_data }}
                {{ requests_block }}
                <script>
                    $(document).ready(function() {
                        $('.see_reviews a').click(function() {
                            $('.reviews').show();
                            $('.requests').hide();
                        });
                        $('.see_requests a').click(function() {
                            $('.requests').show();
                            $('.reviews').hide();
                        });
                        if (window.location.hash == "#requests") {
                            $('.see_requests a').click();
                        } else {
                            $('.see_reviews a').click();
                        }
                    });
                </script>
            {% endif %}
        </div>
    </main>
{% endblock %}