{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            <div class="profile">
                <div class="tourheader">
                    <div class="avatar">
                        <img src="{% static 'img/search-banner.png' %}" alt="img">
                    </div>
                    <section>
                        <h2>{{ tour.name }}</h2>
                        <div class="rating">
                            {% with rating=ratings|get_avg %}
                                {% if rating %}
                                    Оценка <span class="num_rating">{{ rating|floatformat:2 }}</span> <span class="fa fa-star checked"></span>
                                {% else %}
                                    Оценок пока нет
                                {% endif %}
                            {% endwith %}
                        </div>
                        <h4>Предоставляет: <a href="/profile/{{ tour.agency.account.name }}">{{ tour.agency.name }}</a></h4>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="info_header">
                <nav>
                    <ul class="info_menu">
                        <li class="see_info"><a href="#info"><span>Информация</span></a></li>
                        <li class="see_reviews"><a href="#reviews"><span>Отзывы</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="tour_info">
                <div class="part">
                    <h3>Остановки:</h3>
                    <p>
                        <ul>
                            {% for address in tour.addresses.all %}
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ address|to_str }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="part">
                    <h3>Описание:</h3>
                    <p>{{ tour.description }}</p>
                </div>
            </div>
            {{ reviews }}
        </div>
    </main>
    <script>
        $(document).ready(function() {
            if (window.location.hash == "reviews") {
                $('.see_reviews a').click();
            } else {
                $('.see_info a').click();
            }
            $('.see_info').click(function() {
                $('.tour_info').show();
                $('.reviews').hide();
            });
            $('.see_reviews').click(function() {
                console.log()
                $('.reviews').show();
                $('.tour_info').hide();
            });
        });
        </script>
{% endblock %}