{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% block header %}{% include 'parts/header.html' %}{% endblock %}
{% block content %}
    <section class="home">
        <div class="container">
            {% include 'parts/tours_search.html' %}
        </div>
    </section>
    <main>
        <div class="container">
            {% for tour_data in tours_data %}
                {% include 'parts/tour_card.html' %}
            {% endfor %}
        </div>
    </main>
{% endblock %}