{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Поиск Туров{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% for style_file in style_files %}
        <link rel="stylesheet" href="{% static style_file %}">
    {% endfor %}
    <script src="https://kit.fontawesome.com/8f534068a4.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
