{% load template_filters %}
{% include 'parts/connect_css_files.html' with style_files=style_files %}
<div class="reviews" {% if not display %}style="display: none"{% endif %}>
    <div class="title">
        <h3>{{ reviews_title_literal }} <span>{{ reviews_count }}</span></h3>
    </div>
    <div class="reviews_wrapper">
        {{ reviews_list }}
    </div>
    {% include 'parts/pages_buttons.html' %}
    <script>
        $(document).ready(function() {
            $('.edit').click(function() {
                var reviewContainer = $(this).closest('.review');
                reviewContainer.find('.review_data').hide();
                reviewContainer.find('.edit_form').show();
            });
        });
    </script>
</div>