{% load template_filters %}
{% include 'parts/connect_css_files.html' with style_files=style_files %}
<div class="reviews" {% if not display %}style="display: none"{% endif %}>
    <div class="title">
        <h3>{{ reviews_title_literal }} <span>{{ reviews_count }}</span></h3>
    </div>
    <div class="reviews_wrapper">
        {{ reviews_list }}
    </div>
    {% if pages|get_item:'total' != 1 %}
        <div class="pages">
            <form method="get" action="#reviews">
                {% if pages|get_item:'current' != 1 %}
                    <button type="submit" name="page" value="{{ pages|get_item:'current'|to_int|add:'-1' }}">Предыдущая</button>
                {% endif %}
                {% for page in pages|get_item:'slice' %}
                    <button type="submit" name="page" value="{{ page }}">{{ page }}</button>
                {% endfor %}
                {% if pages|get_item:'current' != pages|get_item:'total'|to_int %}
                    <button type="submit" name="page" value="{{ pages|get_item:'current'|to_int|add:'1' }}">Следующая</button>
                    <button type="submit" name="page" value="{{ pages|get_item:'total'|to_int }}">Последняя</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('.edit').click(function() {
                var reviewContainer = $(this).closest('.review');
                reviewContainer.find('.review_data').hide();
                reviewContainer.find('.edit_form').show();
            });
        });
    </script>
</div>