{% extends 'parts/base_review_card.html' %}
{% load static %}
{% load template_filters %}
{% load avatar %}
{% block header %}
    <a href="{% block header_link %} {% url 'profile' review.account.account.username %} {% endblock %}">
        <div class="header">
            <div class="avatar">
                <img src="{{ review.account|get_avatar }}" alt="avatar">
            </div>
            <div class="right">
                <div class="full_name">
                    {% block header_name %}
                        {{ review.account.first_name }} {{ review.account.last_name }} <span>@{{ review.account.username }}</span>
                    {% endblock %}
                </div>
                <span class="created">
                    От {{ review.created.day|stringformat:'.02d' }}.{{ review.created.month|stringformat:'.02d' }}.{{ review.created.year }}{% if review.edited %}, ред. {{ review.edited.day|stringformat:'.02d' }}.{{ review.edited.month|stringformat:'.02d' }}.{{ review.edited.year }}{% endif %}
                </span>
            </div>
        </div>
    </a>
{% endblock %}
{% block content %}
    <div class="review_data">
        {% if request.user.is_authenticated and request.user == review.account.account %}
            <div class="edit"><i class="fa-solid fa-edit" aria-hidden="true"></i> Редактировать</div>
            <div class="delete edit">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="delete" value="{{ review.id }}"><i class="fa-solid fa-trash" aria-hidden="true"></i> Удалить</button>
                </form>
            </div>
        {% endif %}
        <div class="rating">
            <div class="title">Оценка: </div>
            {% for num in '12345'|make_list %}
                <span class="fa fa-star{% if num|to_int <= review.rating|to_int %} checked{% endif %}"></span>
            {% endfor %}
        </div>
        <div class="text">
            <div class="title">Отзыв: </div>
            {{ review.text }}
        </div>
    </div>
{% endblock %}